.header__logo {
    max-width: 142px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        order: 1;
        padding-top: 27px;
    }
}