.profile__info {
    max-width: 336px;
}

@media screen and (max-width: 710px) {
    .profile__info {
        max-width: 260px;
    }
}

@media screen and (max-width: 600px) {
    .profile__info {
        margin: 28px auto 36px;
        max-width: 282px;
    }
}