.popup__close-button {
    padding: 0;
    background: url('../../../images/Close_icon.svg') center no-repeat;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
    border: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        min-width: 20px;
        min-height: 20px;
        top: -36px;
        right: 0;
    }
}